# Environment
.env

# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Uploaded files
data/uploads/

# Logs
*.log

venv/
__pycache__/
.env
data/uploads/
.vscode/
*.pyc